{% extends '@Warp12/Admin/layout.html.twig' %}

{% block layout_header %}
    {{ parent() }}
{% endblock %}
{% block layout_styles %}
    {{ parent() }}
{% endblock %}

{% block module_menu %}
    {{ parent() }}
{% endblock %}
{% block layout_navbar %}
    {{ parent() }}
{% endblock %}
{% block layout_sidebar %}
    {{ parent() }}
{% endblock %}


{% block module_content %}
    <div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Pages</h3>
            <div class="row">
                {% for page in pages %}
                <div class="col s12 m6">
                    <div class="card blue-grey lighten-5">
                        <div class="card-content black-text">
                            <a href="{{ path('warp_page_content_modify', {'id': page.id}) }}" class="btn-floating halfway-fab waves-effect waves-light blue-grey"><i class="material-icons">edit</i></a>
                            <span class="card-title">{{ page.name }}</span>
                            {% if page.urls.first().url is defined %}
                            <p>{{ page.dateUpdated|date('M d, Y, H:i') }}</p>
                            <!--<p>{{ path('seo_url', {'slug': page.urls.first().url}) }}</p>-->
                            {% endif %}
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{%  endblock %}


{% block layout_footer %}
    {{ parent() }}
{% endblock %}