{% extends '@Warp12/Admin/layout.html.twig' %}

{% block layout_header %}
    {{ parent() }}
{% endblock %}
{% block layout_styles %}
    {{ parent() }}
{% endblock %}

{% block module_menu %}
    {{ parent() }}
{% endblock %}
{% block layout_navbar %}
    {{ parent() }}
{% endblock %}
{% block layout_sidebar %}
    {{ parent() }}
{% endblock %}


{% block module_content %}
    <div class="container">
    <div class="row">
        {{ form_start(form, {'attr': {'class':'col s12 l12'}}) }}
        {{ form_errors(form) }}
            <div class="section">
                <h5 class="lime-text darken-4">Page form</h5>
            </div>
            <div class="row">
                <div class="input-field col s12 m5">
                    {{ form_widget(form.name) }}
                    {{ form_label(form.name) }}
                </div>
                <div class="input-field col s12 m7">
                    {{ form_widget(form.title) }}
                    {{ form_label(form.title) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.metadescription) }}
                    {{ form_label(form.metadescription) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.metakeywords) }}
                    {{ form_label(form.metakeywords) }}
                </div>
            </div>
        <div class="row">
            <div class="input-field col s12 m6">
                {{ form_widget(form.module) }}
                {{ form_label(form.module) }}
            </div>
        </div>
            <div class="row">
                {{ form_widget(form.published) }}
                <label for="page_published">
                    <span>Published</span>
                </label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.save) }}
                    <a href="{{ path('warp_page') }}" class="waves-effect waves-light btn-flat right">cancel</a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    </div>
{%  endblock %}


{% block layout_footer %}
    {{ parent() }}
    <script>
        $(function(){
            $('#page_module').material_select();
        });
    </script>
{% endblock %}